.factura_btn{
    padding-bottom: 1rem; 
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    row-gap: .5rem;
    justify-items: center;
    padding-top: 1rem;
}

.factura_btn button{
    width: 35%;
}

.order_details{
    position: fixed;
    top: 0;
    right: -150%;
    width: 100%;
    height: 100vh;
    background: var(--container-color);
    z-index: 100000;
    text-align: center;
    overflow-y: scroll;
    transition: .4s;
}

.nav_close-details{
    position: absolute;
    right: .5rem;
    font-size: 2.5rem;
    cursor: pointer;
}
.order_details-title{
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.details{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: .5rem;
    padding-bottom: 2rem;
}

.detail_item{
    background: var(--container-color-2);
    border-radius: .5rem;
    width: 80%;
    border: 2px dashed var(--title-color);
}

.details-img{
    object-fit: contain;
    height: 250px;
}


.show_details{
    right: 0;
}

.tableCart tbody tr{
    background: var(--first-color);
    display: block;
    margin: 1rem 0;
    border-radius: .35rem;
    padding-bottom: .5rem
}

.tableCart tbody tr h4{
    padding: .5rem 0;
    background: var(--container-color-3);
    border: 2px dashed;
    border-radius: .3rem;
    width: 80%;
    margin: 0 auto;
    padding-bottom: .5rem;
}

.tableCart tbody tr td{
    display: block;
}

.costs_container{
    margin: 3rem 0;
    background: var(--first-color);
    border-radius: .5rem;
}

.costs_container h1{
    padding: 1rem;
}

.user_info{
    background: var(--first-color);
    padding: 1rem;
    text-align: center;
}

.user_info .data{
    margin: .5rem 0;
}

.user_info h2{
    border-bottom: 2px dashed;
    padding: 2rem 0;
}

.divisorFact{
    height: .3rem;
    background: white;
    margin-top: 2rem;
}
/* breakpoints */

@media screen and (min-width: 767px) {
    .order_details{
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .order_details{
        width: 30%;
    }
    .factura_btn button{
        width: 25%;
    }
}