.mante_btn{
    text-align: center;
    padding-top: 2rem;
}

.mante_btn-options{
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: .5rem;
    justify-items: center;
}

.mante_btn-options button{
    background: transparent;
    color: var(--first-color);
    width: 50%;
    height: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 50%;
}

.mante_btn-options button:hover{
    background: hsl(var(--hue), 4%, 80%);
}

.inputArea{
    font-family: var(--body-font);
    font-weight: var(--semi-bold-font);
    border-radius: .5rem;
    border: 3px solid var(--container-color-2);
    padding: .5rem;
    width: 100%;
}

.factura_btn button{
    width: fit-content;
}

.dataTable{
    color: var(--container-color-2);
    text-align: center;
    font-weight: 600;
    margin: 1rem;
    border-radius: 0.5rem;
    border-spacing: 0;
    background-color: beige;
    overflow: scroll;
    display: block;
    height: 35vh;
    text-align: center;
    width: 62%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.dataTable thead th, .dataTable tbody td{
    padding: .5rem;
}

.dataTable tbody td{
    border: none;
    border-top: 2px dashed;
}

.dataTable .button{
    margin-right: 1rem;
}


.dataTable tbody tr:nth-child(even){
    background-color: white;
}

.dataTable img{
    width: 100px;
    padding: .5rem;
}

.tableTitle{
    color: var(--container-color-2);
    margin: 0 auto;
    margin-bottom: .5rem;
}

.dataTable tbody{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.manteTable tbody{
    display: table-row-group;
}

.table_button{
    display: flex;
}

.tBtn{
    background: transparent;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 .5rem;
}


.delete_section{
    background: rgba(0, 0 ,0, .95);
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    z-index: -1;
    opacity: 0;
    transition: .4s;
}

.delete_content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.delete_product-img{
    width: 200px;
    padding: 1rem;
}

.delete_info{
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
}

.buttonOptions .button{
    margin: 0 .3rem;
}

.showDialog{
    opacity: 1;
    z-index: 100000000000;
}

.updateBtn{
    display: none
}

.mante_main-buttons{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.mante_main-buttons .button{
    width: fit-content;
    align-self: center;
}


@media screen and (min-width: 576px) {
    .dataTable tbody {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 767px) {
    .mante_btn-options{
        grid-template-columns: repeat(2, 1fr);
    }

    .delete_product-img{
        width: 325px;
        padding: 1rem;
    }
    
    .dataTable tbody {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .dataTable tbody {
        grid-template-columns: repeat(4, 1fr);
    }
}



